*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "..//fonts/fonts";
@import "./container";
@import "../blocks/hero";
@import "..//blocks/service";
@import "./Layout";
@import "./mixing";
@import "./completed";
@import "./Attracted";
@import "./Delivery";
@import "./trust";
@import "./conpany";
@import "../blocks/contacts";
@import "../blocks/section";